spring:
  datasource:
    driver-class-name: com.p6spy.engine.spy.P6SpyDriver
    username: root
    password: root
#    url: jdbc:p6spy://110.42.182.222:3306/EmptyBlog?serverTimezone=UTC
    url: jdbc:p6spy:mysql://110.42.182.222:3306/EmptyBlog?serverTime=UTC
    hikari:
      max-lifetime: 6000
  devtools:
    remote:
      restart:
        enabled: true
        additional-paths: src/main/java #重启目录
      freemarker:
        cache: false    #页面不加载缓存，修改即时生效
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  #  mvc:
#    pathmatch:
#      matching-strategy: ant_path_matcher
  jta:
    atomikos:
      connectionfactory:
        max-idle-time: 10

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: flag
      logic-delete-value: 1
      logic-not-delete-value: 0
      table-underline: true
  configuration:
    map-underscore-to-camel-case: true
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
#debug: true

#mconfig:
#  swagger-ui-open: true

file:
  path: E:/upload/
  avatarPath: E:/upload/User/UserAvatar
  diaryImagePath: E:/upload/diary/diaryImage/
  diaryVideoPath: E:/upload/diary/diaryVideo/
  vlogVideoPath: E:/upload/vlog/vlogVideo/
#token:
#  privateKey: 'fdasfgdsagaxgsregdfdjyghjfhebfdgwe45ygrfbsdfshfdsag'
#  yangToken: 1000000
#  oldToken: 3000000000

